@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;400;700&display=swap');

body {
 font-family: 'Spartan', sans-serif;
}

html {
 background-image: url('https://picsum.photos/1920/1080/?grayscale');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}